*
{
	box-sizing: border-box;
}

body
{
	background-color : #0000FF;
}

@media (min-width: 992px)
{
	.col-lg-4; 
	float : left; 
	.col-lg-4
	{
		width = 33.33%;
	}
}

@media (min-width: 768px) AND (max-width: 991px)
{
	.col-md-6, .col-md-12; 
	float : left; 
	.col-md-12
	{
		width: 100%
	}
	.col-md-6
	{
		width = 50%;
	}
}

@media (max-width:  767px)
{
	.col-sm-12;
	float : left; 
	.col-md-12
	{
		width : 100%;
	}
}
