*{
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    .row {
      width: 100%;
    }

    .content_box{
      padding : 5px;
    }

    #section_heading_1
    {
      background-color: #48C9B0;
      position: relative;
      width: 25%;
      left: 75%;
      font-size: 125%;
      text-align: center;
      border: 1px solid black;
    }

    #section_heading_2
    {
      background-color: #BB8FCE;
      position: relative;
      width: 25%;
      left: 75%;
      font-size: 125%;
      text-align: center;
      border: 1px solid black;
    }

    #section_heading_3
    {
      background-color: #F5B041;
      position: relative;
      width: 25%;
      left: 75%;
      font-size: 125%;
      text-align: center;
      border: 1px solid black;
    }

    div {
      background-color: #AAAAAA;
      padding-left: 5px;
      border: 1px solid black;
    }

    h1{
      text-align: center;
    }

    @media (min-width: 992px){
      .col-lg-4
      {
        float : left; 
        width : 33.33%;
      }
    }

    @media (min-width: 768px) AND (max-width: 991px){
      .col-md-6, .col-md-12{ 
        float : left; 
      }
      .col-md-12
      {
        width: 100%
      }
      .col-md-6
      {
        width : 50%;
      }
    }

    @media (max-width:  767px){
      .col-sm-12
      {
        float: left;
        width : 100%;
      }
    }